body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#id{
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  
}

td {
    padding: 10px;
    
}

input, select {
    width: 92%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 15px;
    }
    
    table, td {
        display: block;
        width: 100%;
    }
}
